* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

}

/* .attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */

body {
    width: 100%;
    background-color: #F2E9E2;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    border: 10px solid crimson;
    font-family: 'Fraunces', serif;
  }

  .imagem {
  }

  .itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }